/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



/* Bootstrap starts here */

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bg { 
  /* The image used */
  background-image: url("https://mongooseagency.com/files/3415/9620/1413/Return_of_Sports.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 { 
  /* The image used */
  background-image: url("https://touchdowntrips.com/wp-content/uploads/sites/2/2015/01/Twin-Stadium-Lights.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}